@model IEnumerable<LinkShortener.Models.Link>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OriginalLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FolowingCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td style="word-break: break-all">
                <!--@Html.DisplayFor(modelItem => item.OriginalLink)-->
                <a href=@item.OriginalLink>@item.OriginalLink</a>
            </td>
            <td>
                <a asp-action="ShortLinkRedirect" asp-route-shortLink="@item.ShortLink">@item.ShortLink</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FolowingCount)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                <br />
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
